  BODY {
     background-image: url(10.jpg);
	 }

TABLE {
	background-origin: content-box; 
	height:600px;
	width: 1000px;
	position: relative;
	z-index: 1;
	
}


.text
{   
	text-indent: 1.5em;
    text-align: unset; 
    column-rule: 2px solid #6E6E6E ;
    column-count: 2;
    column-width: 400px;
    text-shadow: 1px 1px 1px  white;
	font-size: 13px;
	font-family: monospace;
}

